WebRoot/WEB-INF/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://remote/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloService" targetNamespace="http://remote/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://remote/" schemaLocation="HelloService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getFile">
    <part element="tns:getFile" name="parameters"/>
  </message>
  <message name="getFileResponse">
    <part element="tns:getFileResponse" name="parameters"/>
  </message>
  <message name="getList">
    <part element="tns:getList" name="parameters"/>
  </message>
  <message name="getListResponse">
    <part element="tns:getListResponse" name="parameters"/>
  </message>
  <message name="upload">
    <part element="tns:upload" name="parameters"/>
  </message>
  <message name="uploadResponse">
    <part element="tns:uploadResponse" name="parameters"/>
  </message>
  <message name="say">
    <part element="tns:say" name="parameters"/>
  </message>
  <message name="sayResponse">
    <part element="tns:sayResponse" name="parameters"/>
  </message>
  <message name="getPersons">
    <part element="tns:getPersons" name="parameters"/>
  </message>
  <message name="getPersonsResponse">
    <part element="tns:getPersonsResponse" name="parameters"/>
  </message>
  <portType name="HelloDelegate">
    <operation name="getFile">
      <input message="tns:getFile"/>
      <output message="tns:getFileResponse"/>
    </operation>
    <operation name="getList">
      <input message="tns:getList"/>
      <output message="tns:getListResponse"/>
    </operation>
    <operation name="upload">
      <input message="tns:upload"/>
      <output message="tns:uploadResponse"/>
    </operation>
    <operation name="say">
      <input message="tns:say"/>
      <output message="tns:sayResponse"/>
    </operation>
    <operation name="getPersons">
      <input message="tns:getPersons"/>
      <output message="tns:getPersonsResponse"/>
    </operation>
  </portType>
  <binding name="HelloPortBinding" type="tns:HelloDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="upload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="say">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPersons">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="HelloService">
    <port binding="tns:HelloPortBinding" name="HelloPort">
      <soap:address location="http://localhost:8080/GuanLi/HelloPort"/>
    </port>
  </service>
</definitions>
